<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ramapo.opl.joegramuglia.canoga" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".view.MainMenu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.BoardSize" >
        </activity>
        <activity android:name=".view.LoadGame" >
        </activity>
        <activity android:name=".view.StartingRoll" >
        </activity>
        <activity android:name=".view.SaveGame" >
        </activity>
        <activity android:name=".view.HumanGame" >
        </activity>
        <activity android:name=".view.ComputerGame" >
        </activity>
        <activity android:name=".view.ScoreScreen" >
        </activity>
        <activity android:name=".view.WinnersScreen" >
        </activity>
    </application>

</manifest>
